.navBar {
    background: linear-gradient(90deg, rgb(42, 84, 165)0%, rgb(14, 139, 127)100%);
    color: black;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* margin-top: -60px; */
}

.navBar.active {
    background: linear-gradient(90deg, rgb(14, 139, 127)0%, rgb(42, 84, 165)100%);

}